.form {
  display: flex;
  flex-direction: column;
}

.text {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: black;
}
.input {
  margin-top: 0;
  margin-bottom: 20px;
  width: 350px;
  padding: 5px;
  background-color: rgb(245, 226, 143);
}
.button {
  margin: auto;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: black;
  background-color: yellow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
